body
{
    font-family: Gilroy, serif;
    font-weight: bold;
    font-size: 20px;
}
button{
    background-color: #298F6B;
    border-radius: 15px;
    border: none;
    height: 50px;
    width: 300px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}




/*header*/
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.nav{
    display: flex;
}
.header_logo{
    width: 100px;
    height: 100px;
    background-color: #90C6B2;
    color: #90C6B2;
}
.nav_item{
    text-decoration: none;
    color: black;
    width: 200px;
    height: 50px;
    text-align: center;
    align-items: center;
    list-style-type: none;
}
.nav_item_text{
    text-decoration: none;
    color: black;
    padding-top: 40px;
}
.header_enter_btn{
    background-color: #90C6B2;
    width: 100px;
    margin-right: 20px;
    margin-left: 20px;
}
.header_info{
    display: flex;
    align-items: center;
}
.header_add_adv_text{
    margin: 10px;
}
.nav_item_text{
    padding-top: 15px;
}

/*add_adv*/
.content{
    display: flex;
    justify-content: space-between;
    margin-left: 200px;
}
.add_adv_header{
    font-size: 36px;
    margin-left: 40px;
}

.add_adv{
    width: 70%;
    padding-right: 50px;
}

.add_adv_form{
    background-color: #90C6B2;
}
.add_adv_info{
    list-style-type: none;
}
.add_adv_info:first-child{
    padding-top: 30px;
}
.add_adv_info_item{
    display: flex;
    margin-bottom: 20px;
}
.add_adv_info_item_title{
    font-weight: 300;
    width: 225px;
    height: 40px;
}
.add_adv_option{
    font-size: 20px;
    margin-right: 30px;
    width: 211px;
    height: 40px;
    border-radius: 20px;
    transition: color,background-color .2s linear;
}
.add_adv_option:hover{
    background-color: black;
    color:white;
}

.add_adv_info_item .active{
    background-color: black;
    color: white;
}
.object_options{
    list-style-type: none;
    padding-left: unset;
}
.object_options .active_object{
    color: white;
}
.object_options .active_object:before{
    color: black;
}
.object_options_item:hover{
    color:white;
}
.object_options_item:hover:before{
    color: black;
}
.object_options_item{
    cursor: pointer;
    transition: color .2s linear;
}
.object_options_item::before{
    content:".";
    color: #298F6B;
    margin-right: 10px;
    font-size: 80px;
    line-height: 0.3;
    transition: color .2s linear;
}
.add_adv_parameters{
    display: flex;
}
.object_parameter_info_input{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}
.object_parameter_name_text{
    margin-top: 20px;
}
.object_parameter_input{
    background-color: #298F6B;
    border-radius: 20px;
    margin-bottom: 6px;
    border:none;
    width: 211px;
    height: 40px;
}
.object_parameter_info_input .add_adv_option{
    width: 105px;
    margin-left: 0;
}
.furniture_buttons{
    display: flex;
}
.furniture_buttons .add_adv_option:first-child{
    margin-right: 3px;
}
.object_parameter_input--location{
    width: 575px;
}
.add_adv_photo_field{
    width: 612px;
    height: 210px;
    background-color: #298F6B;
}
.object_parameter_input_description{
    width: 575px;
    height: 150px;
}
.add_adv_submit_button_field{
    display: flex;
    justify-content: center;
}
.add_adv_submit_button{
    border-radius: 20px;
    width: 232px;
    height: 77px;
    margin-top: 40px;
    margin-bottom:40px;
    transition: color,background-color .2s linear;
}
.add_adv_submit_button:hover{
    background-color: black;
    color: white;
}

/*advertisement*/
.advertisement{
}
.advertisement_title{
    font-size: 36px;
}
.advertisement_item{
    margin-top: 15px;
}